body {
    background: #f4f4f4;
}

.main-container {
    width: 100%;
    height: 100%;   
    padding: 20px 30px;
}

.cart-container {
    width: 100%;
    height: 600px;
    background-color: lightgrey;
    margin-top: 40px;
    padding: 25px 20px;
    
}

.drag {
    width: 100%;
    min-height: 520px;
    padding: 30px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 100%;
    height: 230px;
    margin-bottom: 30px;    
}
.drag-text {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

h5 {
    font-weight: bold;
}

.item {
    background: white;
    padding: 20px;
    margin-top: 20px;
}




.buy-container {
    margin-top: 20px;
}


/*
.modal {
    display:block;
}*/

.modal-container {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    padding: 50px;
    background : rgba(0,0,0,0.5);
}

.modal-box {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    padding: 35px 30px;
}

.buy {
    
}
